In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

From: https://www.apple.com/covid19/mobility

Notes on mobility data:
* Apple has higher temporal resolution (from Jan 13), but only covers larger cities and whole countries
* Google has higher spatial resolution (county level, even for VT), but lower temporal resolution. 3 Observations as of yesterday (seems to update every 7 days)
* Google, being actual location data, also has tags for the locations (rec, retail, etc). Apple only has trip type
* Seeing as the Reddit data will have better coverage for large cities, I'm inclined to use the Apple data for the time being. 
* Next steps: find some meaningful join between mobility and text data. Most likely starting with simple time series.

In [2]:
apple_mob_dat = pd.read_csv('../data/mobility_data/applemobilitytrends-2020-04-15.csv')

In [9]:
apple_mob_dat[apple_mob_dat['geo_type']=='city'].region.unique()

array(['Amsterdam', 'Athens', 'Atlanta', 'Auckland', 'Baltimore',
       'Bangkok', 'Barcelona', 'Berlin', 'Birmingham - UK',
       'Bochum - Dortmund', 'Boston', 'Brisbane', 'Brussels',
       'Buenos Aires', 'Cairo', 'Calgary', 'Cape Town', 'Chicago',
       'Cologne', 'Copenhagen', 'Dallas', 'Delhi', 'Denver', 'Detroit',
       'Dubai', 'Dublin', 'Dusseldorf', 'Edmonton', 'Frankfurt',
       'Fukuoka', 'Guadalajara', 'Halifax', 'Hamburg', 'Helsinki',
       'Houston', 'Hsin-chu', 'Istanbul', 'Jakarta', 'Johannesburg',
       'Kuala Lumpur', 'Leeds', 'Lille', 'London', 'Los Angeles', 'Lyon',
       'Madrid', 'Manchester', 'Manila', 'Melbourne', 'Mexico City',
       'Miami', 'Milan', 'Montreal', 'Moscow', 'Mumbai', 'Munich',
       'Nagoya', 'New York City', 'Osaka', 'Oslo', 'Ottawa', 'Paris',
       'Perth', 'Philadelphia', 'Rio de Janeiro', 'Riyadh', 'Rome',
       'Rotterdam', 'Saint Petersburg', 'San Francisco - Bay Area',
       'Santiago', 'Sao Paulo', 'Seattle', 'Seoul', 'Stockholm',
       'Stuttgart', 'Sydney', 'Taichung', 'Taipei', 'Tel Aviv', 'Tijuana',
       'Tokyo', 'Toronto', 'Toulouse', 'Utrecht', 'Vancouver', 'Vienna',
       'Washington DC', 'Zurich'], dtype=object)

In [10]:
apple_mob_dat

,geo_type,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,...,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15
0,country/region,Albania,driving,100,95.30,101.43,97.20,103.55,112.67,104.83,...,26.40,26.03,26.43,26.70,26.32,25.47,24.89,32.64,31.43,30.67
1,country/region,Albania,walking,100,100.68,98.93,98.46,100.85,100.13,82.13,...,31.13,25.80,29.81,28.96,27.29,27.63,29.59,35.52,38.08,35.48
2,country/region,Argentina,driving,100,97.07,102.45,111.21,118.45,124.01,95.44,...,17.24,18.55,19.95,19.80,16.80,19.40,12.89,21.10,22.29,23.55
3,country/region,Argentina,walking,100,95.11,101.37,112.67,116.72,114.14,84.54,...,11.85,13.49,15.51,14.65,13.58,15.75,10.45,16.35,16.66,17.42
4,country/region,Australia,driving,100,102.98,104.21,108.63,109.08,89.00,99.35,...,53.17,55.01,59.24,33.19,36.00,26.95,31.72,53.14,55.91,56.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,city,Washington DC,transit,100,100.78,103.92,105.02,112.26,96.01,87.76,...,18.87,17.59,18.79,16.92,17.76,16.99,14.23,17.01,17.37,17.02
391,city,Washington DC,walking,100,99.07,109.61,104.16,123.16,119.71,106.28,...,40.76,35.97,43.18,36.12,37.50,44.63,32.84,33.58,37.56,38.69
392,city,Zurich,driving,100,102.38,110.84,105.48,113.83,109.67,102.03,...,65.57,69.43,71.98,69.31,61.38,63.78,54.97,67.09,72.52,74.89
393,city,Zurich,transit,100,101.51,108.93,97.87,103.91,98.50,93.83,...,29.56,31.39,32.01,31.32,31.35,29.18,31.49,32.90,35.71,35.68
394,city,Zurich,walking,100,106.27,116.73,115.31,118.22,123.39,82.43,...,62.35,67.26,70.26,69.66,70.73,71.63,65.61,70.17,62.05,67.81